.attendanceCell {
  margin: 12px 0;

  &__spot-name {
    font-size: 28px;
    color: $color-light-black;
  }

  &__user-name {
    font-size: 28px;
    color: $color-light-black;
  }

  &__empty-name {
    font-size: 28px;
    &--green {
      color: $color-green-5;
    }
    &--grey {
      color: $color-dark-grey;
    }
  }
}
