.classRoomTab {
  margin: auto;
  transform: rotate(-90deg);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 2%;
  white-space: nowrap;
  margin-right: 36px;

  &__title {
    font-size: 36px;
    color: $color-light-black;
    font-weight: bold;
  }
}
