.classCell {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  padding-left: 8px;
  width: 60%;
  justify-content: center;

  &__title-container {
    margin-bottom: 4px;
    padding-left: 8px;
    border-left: 2px solid $color-white;
  }
  &__title {
    color: $color-white;
    font-size: 48px;
    font-weight: bold;
  }

  &__type-difficulty-container {
    margin-bottom: 4px;
    padding-left: 8px;
    border-left: 2px solid $color-white;
  }
  &__type-difficulty {
    color: $color-white;
    font-size: 36px;
  }

  &__instructor {
    color: $color-white;
    font-size: 36px;
    padding-left: 8px;
    border-left: 2px solid $color-white;
  }
}
