.classCell {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;

  &__title-container {
    margin-bottom: 4px;
  }
  &__title {
    color: $color-white;
    font-size: 48px;
    font-weight: bold;
  }

  &__type-difficulty-container {
    margin-bottom: 4px;
  }
  &__type-difficulty {
    color: $color-light-black;
    font-size: 36px;
  }

  &__instructor {
    color: $color-light-black;
    font-size: 36px;
  }
}
