.classCell {
  display: flex;
  padding-left: 8px;
  width: 60%;
  justify-content: left;
  align-items: center;

  &__vertical-line {
    width: 2px;
    background: $color-white;

    &--first {
      height: 55%;
    }
    &--second {
      height: 40%;
    }
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 12px;
  }

  &__title-container {
    margin-bottom: 4px;
  }

  &__title {
    color: $color-white;
    font-size: 48px;
    font-weight: bold;
  }

  &__type-difficulty-container {
    margin-bottom: 4px;
  }

  &__type-difficulty {
    color: $color-white;
    font-size: 36px;
  }

  &__instructor {
    color: $color-white;
    font-size: 36px;
  }
}
