.focusDateCell {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 28px;
  width: 100%;
  &--today {
    margin-bottom: 36px;
  }

  &__focus-date-container {
    width: 50%;
  }

  &__focus-date {
    color: $color-green-1;
    font-size: 28px;
    font-weight: 900;
    margin-right: 32px;
    text-align: right;
    &--today {
      font-size: 32px;
    }
  }

  &__focus-name-container {
    width: 50%;
  }

  &__focus-name {
    color: $color-white;
    font-size: 28px;
    font-weight: 600;
    word-wrap: break-word;

    &--today {
      font-size: 32px;
    }
  }
}
