.pickASpotGrid {
  background: $color-green-1;
  display: flex;
  &__loading-container {
    position: absolute;
    top: 50%;
    left: 37%;
    transform: translate(-50%, -37%);
  }

  &__class-and-attendance-tab-and-timer-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: stretch;
    justify-content: stretch;
    flex: 1;
  }

  &__alert-container {
    position: absolute;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
