.timerCell {
  width: 78%;
  height: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  background-color: white;

  position: absolute;
  bottom: 0;

  &--red {
    background-color: $color-red;
  }
  &--yellow {
    background-color: $color-yellow;
  }

  &__text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__text {
    &--black {
      font-size: 48px;
      color: $color-light-black;
    }
    &--white {
      font-size: 48px;
      color: $color-white;
    }
    &--bold {
      font-weight: bold;
    }
  }

  &__timer-text {
    font-size: 48px;
    color: $color-green-1;
  }
}
