// Colors
$color-white: #ffffff;
$color-grey: #545454;
$color-black: #000000;
$color-green-1: #4eb849;
$color-green-2: #e6f7e4;
$color-green-3: #597e54;
$color-green-4: #5d9c56;

$color-light-grey: #afafaf;
$color-dark-grey: #b4b4b4;
$color-light-black: #303030;
$color-green-5: #9adc9a;
$color-red: #f53f3f;
$color-yellow: #f0f630;
